{/* <script> */}
table.render({
    elem: '#carousel_filter'
    ,url:"{:url('Admin/carouselLists')}"
    ,title: '轮播图管理'
    ,toolbar: '#carousel_toolbar'
    ,cols: [[
        {type:'numbers', title:'序号', width:60}
        ,{field:'name', minWidth:80, title:'轮播图名称'}
        ,{field:'url', title:'跳转链接地址', minWidth:160,}
        ,{field:'priority', title:'优先级', align:'center', width:90}
        ,{field:'id', title:'Key',align:'center', width:60, hide: true}
        ,{field:'create_time', title:'时间',templet: toTimeString,align:'center', width:110}
        ,{title:'操作', align:'center',toolbar: '#carousel_operaTools',width:180}
    ]]
    ,page: true
});
table.on('toolbar(carousel_filter)', function(obj){
    var data = obj.data;
    if(obj.event === 'carousel_add'){
        layer.open({
            type: 2,
            title: '添加轮播图',
            shadeClose: true,
            shade: 0.8,
            area: ['480px', '400px'],
            content: [ "{:url('admin/carouselAddIndex')}"]
        });
    }
});
table.on('tool(carousel_filter)', function(obj){
    var data = obj.data;
    if(obj.event === 'carousel_del'){
        layer.confirm('确认删除此轮播图吗?<br />'+data['name'], function(index){
            var jsondata = new Object({"id":data['id']});
            $.post("{:url('Carousel/delete')}",jsondata,function(res){
                if(res.status) {
                    layer.msg('删除成功', {icon: 1});
                    obj.del();
                }else{
                    layer.msg('删除失败', {icon: 2});
                    layer.close(index);
                }
            });
        });
    } else if(obj.event === 'carousel_edit'){
        layer.open({
            type: 2,
            title: '修改轮播图 - '+data['name'],
            shadeClose: true,
            shade: 0.8,
            area: ['480px', '400px'],
            content: [ "{:url('Carousel/edit')}?id="+data['id']]
        });
    } else if(obj.event === 'carousel_img'){
        layer.open({
            type: 2,
            title: '修改轮播图 - '+data['name'],
            shadeClose: true,
            shade: 0.8,
            area: ['480px', '400px'],
            content: [ "{:url('Carousel/editImage')}?id="+data['id']]
        });
    }
});

{/* </script> */}