<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心 - __WEB_NAME__ - 个人博客 - __WEB_URL_HOSTNAME__</title>
    <link rel="shortcut icon" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/css/layui.css"  type="text/css">
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/css/tableFilter.css"  type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main.css" type="text/css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main_mobile.css" type="text/css">
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/tinymce/skins/content/default/prism.css"  type="text/css">

</head>
<body class="web-body-content">
<!-- Header -->
{include file="tpl/header" /}
<div class="layui-container" style="margin-bottom:10px;margin-top:8px;">
    <div class="my-zone">
        <div class="layui-tab"  lay-filter="user_tab">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="1">个人信息</li>
                <li lay-id="2">草稿箱</li>
                <li lay-id="10">评论管理</li>
                <li lay-id="3">文章管理</li>
                <li lay-id="4">栏目管理</li>
                <li lay-id="5">轮播图管理</li>
                <li lay-id="6">网站公告</li>
                <li lay-id="9">网站管理</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    {include file="tpl/my_zone_tab_user_data" /}
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="drafts_filter" lay-filter="drafts_filter"></table> <!-- 草稿箱 -->
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="reply_filter" lay-filter="reply_filter"></table> <!-- 评论管理 -->
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="article_list_filter" lay-filter="article_list_filter"></table>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="cate_list_filter" lay-filter="cate_list_filter"></table> <!-- 栏目管理 -->
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="carousel_filter" lay-filter="carousel_filter"></table> <!-- 轮播图管理 -->
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="notes_filter" lay-filter="notes_filter"></table> <!-- 网站公告 -->
                </div>
                <div class="layui-tab-item">
                    <iframe id="iframeMain" src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('admin/system_info')}" frameborder="0" border="0" scrolling="no" style="width: 100%; height: 600px; margin-top: -1%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="article_operaTools">
    <a class="layui-btn layui-btn-xs" lay-event="article_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="article_del">删除</a>
</script>
<script type="text/html" id="cate_operaTools">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="cate_img">略缩图</a>
    <a class="layui-btn layui-btn-xs" lay-event="cate_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cate_del">删除</a>
</script>
<script type="text/html" id="draft_operaTools">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="draft_preview">预览</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="draft_push">发布</a>
    <a class="layui-btn layui-btn-xs" lay-event="draft_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="draft_del">删除</a>
</script>

<script type="text/html" id="carousel_operaTools">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="carousel_img">轮播图</a>
    <a class="layui-btn layui-btn-xs" lay-event="carousel_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="carousel_del">删除</a>
</script>
<script type="text/html" id="cate_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="cate_add">添加栏目</button>
    </div>
</script>

<script type="text/html" id="reply_operaTools">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reply_del">删除</a>
</script>

<script type="text/html" id="carousel_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="carousel_add">添加轮播图</button>
    </div>
</script>
<script type="text/html" id="note_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="note_add">发布公告</button>
    </div>
</script>
<script type="text/html" id="note_operaTools">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="note_preview">预览</a>
    <a class="layui-btn layui-btn-xs" lay-event="note_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="note_del">删除</a>
</script>
<script type="text/html" id="article_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="article_add">添加文章</button>
    </div>
</script>
<script type="text/html" id="drafts_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="drafts_add">添加草稿</button>
    </div>
</script>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="status" value="{{d.id}}" lay-filter="note_sta" lay-skin="switch" lay-text="已发布|未发布" lay-filter="sexDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<!-- Footer -->
{include file="tpl/footer" /}
<!-- 你的HTML代码 END -->

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/layui.js"></script>

<script>
    /* 一般直接写在一个js文件中 */
    layui.use(['layer', 'form','util','element','table','tableFilter'], function(){
        var layer = layui.layer
            ,$=layui.jquery
            ,form = layui.form
            ,element = layui.element
            ,util = layui.util
            ,table = layui.table
            ,tableFilter = layui.tableFilter;

        util.fixbar({
            top: true
            ,showHeight:100
            ,click: function(type){ }
        });
        form.verify({
            pass:[
                /^[\S]{6,18}$/
                ,'密码必须是6到18位,且不能出现空格'
            ]
        });

        form.on('submit(updateUserData)', function(data){
            layer.confirm('您确认修改资料吗？', {
                btn: ['确认','取消']
            }, function(){
                layer.close();
                var jsondata = data.field;
                $.post("{:url('User/updateUserData')}",jsondata,function(res){
                    if(res.status) {
                        layer.msg(res.info,{time:2500});
                        setTimeout(function(){window.location.reload();},2400);
                    }else{
                        layer.msg(res.info,{time:2500});
                    }
                });
            }, function(){
                layer.msg('已取消', {icon: 0});
            });
            return false;
        });
/* 评论管理 */
        table.render({
            elem: '#reply_filter'
            ,url:"{:url('reply/Lists')}"
            ,title: '评论管理'
            ,cols: [[
                {type:'numbers', title:'序号', width:60}
                ,{field:'content', minWidth:240, title:'内容'}
                ,{field:'atitle', title:'所属文章标题', align:'center', width:320}
                ,{field:'id', title:'Key',align:'center', width:60, hide: true}
                ,{field:'create_time', title:'时间',align:'center',templet :toTimeString, width:110}
                ,{title:'操作', align:'center',toolbar: '#reply_operaTools',width:80}
            ]]
            ,page: true
        });
        table.on('tool(reply_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'reply_del'){
                layer.confirm('确认删除此评论吗?<br />'+data['content'], function(index){
                    var jsondata = new Object({"id":data['id']});
                    $.post("{:url('Reply/delete')}",jsondata,function(res){
                        if(res.status) {
                            layer.msg('删除成功', {icon: 1});
                            obj.del();
                        }else{
                            layer.msg('删除失败', {icon: 2});
                            layer.close(index);
                        }
                    });
                });
            }
        });
/* 评论管理 -- END -- */
/* 文章管理 */
        table.render({
            elem: '#article_list_filter'
            ,url:"{:url('User/articleLists')}"
            ,title: '文章管理表'
            ,toolbar: '#article_toolbar'
            ,cols: [[
                {type:'numbers', title:'序号', width:60}
                ,{field:'title', minWidth:240, title:'标题'}
                ,{field:'cate_name', title:'所属栏目', align:'center', width:150}
                ,{field:'id', title:'Key',align:'center', width:60, hide: true}
                ,{field:'create_time', title:'时间',align:'center',templet :toTimeString, width:110}
                ,{title:'操作', align:'center',toolbar: '#article_operaTools',width:120}
            ]]
            ,page: true
            ,done: function(res, curr, count){
                tableFilterIns.reload();
            }

        });
        table.on('toolbar(article_list_filter)', function(obj){
            window.location.href = "__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('Article/editArticle')}";
        });

        table.on('tool(article_list_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'article_del'){
                layer.confirm('确认删除此文章吗?<br />'+data['title'], function(index){
                    var jsondata = new Object({"id":data['id']});
                    $.post("{:url('Article/delete')}",jsondata,function(res){
                        if(res.status) {
                            layer.msg('删除成功', {icon: 1});
                            obj.del();
                        }else{
                            layer.msg('删除失败', {icon: 2});
                            layer.close(index);
                        }
                    });
                });
            } else if(obj.event === 'article_edit'){
                window.location.href='/index/article/updatearticle/id/'+data['id']+'.html';
            }
        });
/* 文章管理 -- END -- */
/* 栏目管理 */
        table.render({
            elem: '#cate_list_filter'
            ,url:"{:url('Admin/cateLists')}"
            ,title: '栏目管理表'
            ,toolbar: '#cate_toolbar'
            ,cols: [[
                {type:'numbers', title:'序号', width:60}
                ,{field:'name', minWidth:100, title:'栏目名称'}
                ,{field:'priority', title:'优先级', align:'center', width:90}
                ,{field:'id', title:'Key',align:'center', width:60, hide: true}
                ,{field:'create_time', title:'时间',templet: toTimeString,align:'center', width:110}
                ,{title:'操作', align:'center',toolbar: '#cate_operaTools',width:200}
            ]]
            ,page: true
        });

        table.on('tool(cate_list_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'cate_del'){
                layer.confirm('真的删除此栏目吗?(删除后不可恢复)', function(index){
                    layer.prompt({title: '请输入密码:', formType: 1, maxlength:18}, function(pass, index){
                        layer.close(index);
                        var jsondata = new Object({"id":data['id']});
                        jsondata['passwd'] = pass;
                        $.post("{:url('Cate/delete')}",jsondata,function(res){
                            if(res.status) {
                                layer.msg('删除成功', {icon: 1});
                                obj.del();
                            }else{
                                layer.msg('删除失败：'+res.info, {icon: 2});
                            }
                        });
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'cate_edit'){
                layer.open({
                    type: 2,
                    title: '栏目修改 - '+data['name'],
                    shadeClose: true,
                    shade: 0.8,
                    area: ['480px', '240px'],
                    content: "{:url('admin/updateCate')}"+"?id="+data["id"]
                });
            } else if(obj.event === 'cate_img'){
                layer.open({
                    type: 2,
                    title: '编辑栏目 - '+data['name'],
                    shadeClose: true,
                    shade: 0.8,
                    area: ['480px', '400px'],
                    content: [ '/index/admin/getUploadImgs/id/'+data['id']]
                });
            }
        });

        table.on('toolbar(cate_list_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'cate_add'){
                layer.open({
                    type: 2,
                    title: '新增栏目',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['480px', '240px'],
                    content: "{:url('admin/updateCate')}"
                });
            }
        });
/* 栏目管理 -- END -- */
/* 轮播图管理 */
        table.render({
            elem: '#carousel_filter'
            ,url:"{:url('Admin/carouselLists')}"
            ,title: '轮播图管理'
            ,toolbar: '#carousel_toolbar'
            ,cols: [[
                {type:'numbers', title:'序号', width:60}
                ,{field:'name', minWidth:80, title:'轮播图名称'}
                ,{field:'url', title:'跳转链接地址', minWidth:160,}
                ,{field:'priority', title:'优先级', align:'center', width:90}
                ,{field:'id', title:'Key',align:'center', width:60, hide: true}
                ,{field:'create_time', title:'时间',templet: toTimeString,align:'center', width:110}
                ,{title:'操作', align:'center',toolbar: '#carousel_operaTools',width:180}
            ]]
            ,page: true
        });
        table.on('toolbar(carousel_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'carousel_add'){
                layer.open({
                    type: 2,
                    title: '添加轮播图',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['480px', '400px'],
                    content: [ "{:url('admin/carouselAddIndex')}"]
                });
            }
        });
        table.on('tool(carousel_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'carousel_del'){
                layer.confirm('确认删除此轮播图吗?<br />'+data['name'], function(index){
                    var jsondata = new Object({"id":data['id']});
                    $.post("{:url('Carousel/delete')}",jsondata,function(res){
                        if(res.status) {
                            layer.msg('删除成功', {icon: 1});
                            obj.del();
                        }else{
                            layer.msg('删除失败', {icon: 2});
                            layer.close(index);
                        }
                    });
                });
            } else if(obj.event === 'carousel_edit'){
                layer.open({
                    type: 2,
                    title: '修改轮播图 - '+data['name'],
                    shadeClose: true,
                    shade: 0.8,
                    area: ['480px', '400px'],
                    content: [ "{:url('Carousel/edit')}?id="+data['id']]
                });
            } else if(obj.event === 'carousel_img'){
                layer.open({
                    type: 2,
                    title: '修改轮播图 - '+data['name'],
                    shadeClose: true,
                    shade: 0.8,
                    area: ['480px', '400px'],
                    content: [ "{:url('Carousel/editImage')}?id="+data['id']]
                });
            }
        });
/* 轮播图管理 -- END -- */
/* 网站公告管理 */
        table.render({
            elem: '#notes_filter'
            ,url:"{:url('Notification/noteLists')}"
            ,title: '公告管理表'
            ,toolbar: '#note_toolbar'
            ,cols: [[
                {type:'numbers', title:'序号', width:60}
                ,{field:'title', minWidth:100, title:'公告标题'}
                ,{field:'status', title:'状态', width:104, templet: '#switchTpl', unresize: true}
                ,{field:'id', title:'Key',align:'center', width:60, hide: true}
                ,{field:'create_time', title:'时间',templet: toTimeString,align:'center', width:110}
                ,{title:'操作', align:'center',toolbar: '#note_operaTools',width:180}
            ]]
            ,page: true
        });

        table.on('tool(notes_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'note_del'){
                layer.confirm('真的删除此公告吗?(删除后不可恢复)', function(index){

                    var jsondata = new Object({"id":data['id']});
                    $.post("{:url('Notification/delete')}",jsondata,function(res){
                        if(res.status) {
                            layer.msg('删除成功', {icon: 1});
                            obj.del();
                        }else{
                            layer.msg('删除失败：'+res.info, {icon: 2});
                        }
                    });
                });
                layer.close(index);
            } else if(obj.event === 'note_edit'){
                layer.open({
                    type: 2,
                    title: '公告修改 - '+data['title'],
                    shadeClose: true,
                    shade: 0.8,
                    area: ['900px', '600px'],
                    content: "{:url('Notification/edit')}"+"?id="+data["id"]
                });
            } else if(obj.event === 'note_preview'){
                window.open("__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('Notification/previewDraft')}?id="+data['id']);
            }
        });


        table.on('toolbar(notes_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'note_add'){
                layer.open({
                    type: 2,
                    title: '发布公告',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['900px', '600px'],
                    content: "{:url('Notification/add')}"
                });
            }
        });
        //监听锁定操作
        form.on('switch(note_sta)', function(obj){
            var msg_sta = "";
            if(obj.elem.checked == true ){
                msg_sta = "发布";
            }else{
                msg_sta = "撤回";
            }

            layer.confirm("确定"+msg_sta+"公告?", function(index){
                var jsondata = new Object();
                jsondata['status'] = obj.elem.checked==true?1:0;
                jsondata['id'] = obj.value;
                var swt = $(obj.elem);
                swt.prop('checked',false);

                $.post("{:url('Notification/changesta')}",jsondata,function(res){
                    if(res.status) {
                        layer.msg(msg_sta+'成功', {icon: 1});

                    }else{
                        layer.msg(msg_sta+'失败:'+res.info, {icon: 2});
                        var swt = $(obj.elem);
                        swt.prop('checked',!obj.elem.checked);
                        layui.form.render();
                    }
                });
            },function (index) {
                var swt = $(obj.elem);
                swt.prop('checked',!obj.elem.checked);
                layui.form.render();
            });

        });
/* 网站公告管理 -- END -- */
/* 草稿箱 */
        table.render({
            elem: '#drafts_filter'
            ,url:"{:url('Draft/draftsLists')}"
            ,title: '草稿箱'
            ,toolbar: '#drafts_toolbar'
            ,cols: [[
                {type:'numbers', title:'序号', width:60}
                ,{field:'title', minWidth:240, title:'标题'}
                ,{field:'cate_name', title:'所属栏目', align:'center', width:150}
                ,{field:'id', title:'Key',align:'center', width:60, hide: true}
                ,{field:'create_time', title:'时间',align:'center',templet :toTimeString, width:110}
                ,{title:'操作', align:'center',toolbar: '#draft_operaTools',width:240}
            ]]
            ,page: true
        });
        tableFilter.render({
            'elem' : '#drafts_filter',
            'mode' : 'local',
            'filters' : [{field: 'cate_name', type:'checkbox'},{field: 'title', type:'input'}]
        });
        table.on('toolbar(drafts_filter)', function(obj){
            window.location.href = "__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('Article/editArticle')}";
        });
        table.on('tool(drafts_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'draft_edit'){
                window.location.href = "__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('Draft/editDraft')}?id="+data['id'];
            } else if(obj.event === 'draft_del'){
                layer.confirm('确认删除此草稿吗?<br />'+data['title'], function(index){
                    var jsondata = new Object({"id":data['id']});
                    $.post("{:url('Draft/delete')}",jsondata,function(res){
                        if(res.status) {
                            layer.msg('删除成功', {icon: 1});
                            obj.del();
                        }else{
                            layer.msg('删除失败', {icon: 2});
                            layer.close(index);
                        }
                    });
                });
            } else if(obj.event === 'draft_push'){
                layer.confirm('确认发布吗?<br />'+data['title'], function(index){
                    var jsondata = new Object({"id":data['id']});
                    $.post("{:url('Draft/pushArticle')}",jsondata,function(res){
                        if(res.status) {
                            layer.msg('发布成功', {icon: 1});
                            obj.del();
                        }else{
                            layer.msg('发布失败', {icon: 2});
                            layer.close(index);
                        }
                    });
                });
            } else if(obj.event === 'draft_preview'){
                window.open("__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('Draft/previewDraft')}?id="+data['id']);
            }
        });
/* 草稿箱 -- END -- */

        element.tabChange('user_tab', {$tab});
        /* 文章管理 */
        var tableFilterIns = tableFilter.render({
            'elem' : '#article_list_filter',
            'mode' : 'api',
            'filters' : [{field: 'cate_name', type:'radio', url:"{:url('User/cateList')}"}, {field: 'title', type:'input'}],
            'done': function(filters){
            }
        });
        
        function Appendzero(obj) {
            if (obj < 10) return "0" + "" + obj;
            else return obj;
        }
        function toTimeString(data) {
            var now = new Date(data.create_time*1000);
            var year =now.getFullYear();
            var month =Appendzero(now.getMonth()+1);
            var date=Appendzero(now.getDate());
            return year+'-'+month+'-'+date;
        }
    });
</script>
</body>
</html>