<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心 - __WEB_NAME__ - 个人博客 - __WEB_URL_HOSTNAME__</title>
    <link rel="shortcut icon" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/css/layui.css"  type="text/css">
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/css/tableFilter.css"  type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main.css" type="text/css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main_mobile.css" type="text/css">
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/tinymce/skins/content/default/prism.css"  type="text/css">

</head>
<body class="web-body-content">
<!-- Header -->
{include file="tpl/header" /}
<div class="layui-container" style="margin-bottom:10px;margin-top:8px;">
    <div class="my-zone">
        <div class="layui-tab"  lay-filter="user_tab">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="1">个人信息</li>
                <li lay-id="2">草稿箱</li>
                <li lay-id="10">评论管理</li>
                <li lay-id="3">文章管理</li>
                <li lay-id="4">栏目管理</li>
                <li lay-id="5">轮播图管理</li>
                <li lay-id="6">网站公告</li>
                <li lay-id="9">网站管理</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    {include file="user/userinfo_tab" /}
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="drafts_filter" lay-filter="drafts_filter"></table> <!-- 草稿箱 -->
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="reply_filter" lay-filter="reply_filter"></table> <!-- 评论管理 -->
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="article_list_filter" lay-filter="article_list_filter"></table>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="cate_list_filter" lay-filter="cate_list_filter"></table> <!-- 栏目管理 -->
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="carousel_filter" lay-filter="carousel_filter"></table> <!-- 轮播图管理 -->
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="notes_filter" lay-filter="notes_filter"></table> <!-- 网站公告 -->
                </div>
                <div class="layui-tab-item">
                    <iframe id="iframeMain" src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('admin/system_info')}" frameborder="0" border="0" scrolling="no" style="width: 100%; height: 520px; margin-top: -1%"></iframe>
                    <iframe id="iframeMain2" src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('adminhost/collect')}" frameborder="0" border="0" scrolling="no" style="width: 100%; height: 60px; margin-top: -1%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="article_operaTools">
    <a class="layui-btn layui-btn-xs" lay-event="article_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="article_del">删除</a>
</script>
<script type="text/html" id="cate_operaTools">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="cate_img">略缩图</a>
    <a class="layui-btn layui-btn-xs" lay-event="cate_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cate_del">删除</a>
</script>
<script type="text/html" id="draft_operaTools">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="draft_preview">预览</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="draft_push">发布</a>
    <a class="layui-btn layui-btn-xs" lay-event="draft_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="draft_del">删除</a>
</script>

<script type="text/html" id="carousel_operaTools">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="carousel_img">轮播图</a>
    <a class="layui-btn layui-btn-xs" lay-event="carousel_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="carousel_del">删除</a>
</script>
<script type="text/html" id="cate_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="cate_add">添加栏目</button>
    </div>
</script>

<script type="text/html" id="reply_operaTools">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reply_del">删除</a>
</script>

<script type="text/html" id="carousel_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="carousel_add">添加轮播图</button>
    </div>
</script>
<script type="text/html" id="note_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="note_add">发布公告</button>
    </div>
</script>
<script type="text/html" id="note_operaTools">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="note_preview">预览</a>
    <a class="layui-btn layui-btn-xs" lay-event="note_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="note_del">删除</a>
</script>
<script type="text/html" id="article_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="article_add">添加文章</button>
    </div>
</script>
<script type="text/html" id="drafts_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="drafts_add">添加草稿</button>
    </div>
</script>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="status" value="{{d.id}}" lay-filter="note_sta" lay-skin="switch" lay-text="已发布|未发布" lay-filter="sexDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<!-- Footer -->
{include file="tpl/footer" /}
<!-- 你的HTML代码 END -->

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/layui.js"></script>

<script>
    if(top.location != location){
        top.location.href= location.href;
    }
    {/* 一般直接写在一个js文件中 */}
    layui.use(['layer', 'form','util','element','table','tableFilter'], function(){
        var layer = layui.layer
            ,$=layui.jquery
            ,form = layui.form
            ,element = layui.element
            ,util = layui.util
            ,table = layui.table
            ,tableFilter = layui.tableFilter;

        util.fixbar({
            top: true
            ,showHeight:100
            ,click: function(type){ }
        });
        form.verify({
            pass:[
                /^[\S]{6,18}$/
                ,'密码必须是6到18位,且不能出现空格'
            ]
        });
        {include file="user/userinfo_tabjs" /}
{/* 评论管理 */}
        {include file="user/replymanage_tabjs" /}
{/* 评论管理 -- END -- */}
{/* 文章管理 */}
        {include file="user/articlemanage_tabjs" /}
{/* 文章管理 -- END -- */}
{/* 栏目管理 */}
        {include file="admin/catemanage_tabjs" /}
{/* 栏目管理 -- END -- */}
{/* 轮播图管理 */}
        {include file="admin/carouselmanage_tabjs" /}
{/* 轮播图管理 -- END -- */}
{/* 网站公告管理 */}
        {include file="admin/notificationmanage_tabjs" /}
{/* 网站公告管理 -- END -- */}
{/* 草稿箱 */}
        {include file="user/draftmanage_tabjs" /}
{/* 草稿箱 -- END -- */}
        element.tabChange('user_tab', {$tab});
        /* 文章管理 */

        
        function Appendzero(obj) {
            if (obj < 10) return "0" + "" + obj;
            else return obj;
        }
        function toTimeString(data) {
            var now = new Date(data.create_time*1000);
            var year =now.getFullYear();
            var month =Appendzero(now.getMonth()+1);
            var date=Appendzero(now.getDate());
            return year+'-'+month+'-'+date;
        }
    });
</script>
</body>
</html>