<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$article.title}-叶念西风 个人博客网站 feitiger.com</title>
    <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css"  type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="__STATIC__/css/main.css" type="text/css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="__STATIC__/css/main_mobile.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/plugins/ueditor/themes/default/preview.css"  type="text/css">
</head>
<body class="web-body-content">
<!-- Header -->
{include file="tpl/header" /}
    <div class="layui-container" style="margin-bottom:10px;margin-top:8px;">

        <i class="fa fa-home"></i> <a href="{:url('index/index')}">首页</a> <i class="fa fa-angle-right"></i> <a href="{:url('article/cate',array('id'=>$article['cate_id']))}">{$article.cate_name}</a> <i class="fa fa-angle-right"></i> {$article.title}
    </div>

    <div class="layui-container article_detial" style="background-color: #fffFFF">
        <header style="font-size: 32px;">
            <h1>{$article.title}</h1>
        </header>
        <div class="article_detial_info">
            <div style="margin-left: 20px;">
                <i class="layui-icon layui-icon-date" style="font-size: 14px; color: gray;"></i> {$article.update_time|date='Y-m-d',###}
            </div>
            <div style="margin-left: 20px;">
                <i class="layui-icon layui-icon-read" style="font-size: 14px; color: gray;"></i> {$article.pv}
            </div>
            <div style="margin-left: 20px;">
                <i class="layui-icon layui-icon-reply-fill" style="font-size: 14px; color: gray;"></i> 0
            </div>

        </div>

        <div class="article_content">{$article.content}</div>

    </div>
    <div class="layui-container admin-article-power" style="background-color: ghostwhite;margin-top: 20px;">
        {if condition=' $Request.session.uname!=null'}

        <button >修改</button> <button>略缩图</button> <button lay-submit lay-filter="deleteArticle">删除</button>

        {/if}
    </div>
    <!-- Footer -->
    {include file="tpl/footer" /}
<!-- 你的HTML代码 END -->


<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__STATIC__/plugins/layui/layui.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form','element','util','carousel'], function(){
        var layer = layui.layer
            ,$=layui.jquery
            ,form = layui.form
            ,element = layui.element
            ,carousel = layui.carousel
            ,util = layui.util;

        //执行
        util.fixbar({
            top: true
            ,showHeight:100
            ,click: function(type){ }
        });

        //建造实例
        carousel.render({
            elem: '#carousel_index'
            ,width: '100%' //设置容器宽度
            ,height:'240px'
            ,arrow: 'hover'//悬停显示箭头
            //,anim: 'updown' //切换动画方式
            ,indicator:'inside'
            ,interval:'5000'
        });
        carousel.render({
            elem: '#carousel_news'
            ,width: '100%' //设置容器宽度
            ,height:'20px'
            ,arrow: 'none'//不显示箭头
            ,anim: 'updown' //切换动画方式
            ,indicator:'none'
        });
        {if condition=' $Request.session.uname!=null'}
        form.on('submit(deleteArticle)',function(data){
            layer.confirm('确定删除 {$article.title} ？', {
                btn: ['删除','取消'] //按钮
            }, function(){

                var jsondata = new Object({"id":"{$article.id}"});
                $.post("{:url('Article/delete')}",jsondata,function(res){
                    if(res.status) {
                        layer.msg('删除成功', {icon: 1});
                        setTimeout(function(){window.location.href=document.referrer;},2500);

                    }else{
                        layer.msg('删除失败', {icon: 2});
                    }
                });

            }, function(){

            });
        });
        {/if}
    });
    

</script>
</body>
</html>