<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>叶念西风 个人博客网站</title>
    <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css"  type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="__STATIC__/css/main.css" type="text/css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="__STATIC__/css/main_mobile.css" type="text/css">
</head>
<body class="web-body-content">
<!-- Header -->
{include file="tpl/header" /}
    <div class="layui-container" style="margin-bottom:10px;margin-top:8px;">

        <i class="fa fa-home"></i> <a href="/">首页</a> <i class="fa fa-angle-right"></i> 编写文章
    </div>

    <div class="layui-container article_detial" style="background-color: #fffFFF">

        <form class="layui-form" >
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" autocomplete="off" placeholder="请输入标题" class="layui-input" lay-verify="required">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">摘要</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" name="abstract" class="layui-textarea" maxlength="100" style="min-height: 30px;"></textarea>
                </div>
            </div>

            <div class="layui-form-item" style="display: flex;">
                <div class="layui-inline" >
                    <label class="layui-form-label">类别</label>
                    <div class="layui-input-inline">
                        <select name="cate_name" lay-verify="required" lay-search="" id="cate_id">
                            <option value="">直接选择或搜索选择</option>
                            {volist name="cates" id="vo"}
                            <option value="{$i}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                    
                </div>
            </div>
            <div class="layui-form-item layui-form-text" >
                <div class="layui-input-block" style="z-index:1;">
                    <!-- 加载编辑器的容器 -->
                    <textarea placeholder="请输入内容" name="ueditor_content" id="article_container" ></textarea>
                </div>
            </div>


            <div class="layui-form-item " style="margin-left: 110px;">
                <button class="layui-btn" lay-submit lay-filter="publish_bt">发布</button>
                <button class="layui-btn" lay-submit lay-filter="draft_bt">存草稿</button>
            </div>
        </form>


    </div>
    <!-- Footer -->
    {include file="tpl/footer" /}
<!-- 你的HTML代码 END -->


<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- 配置文件 -->
<script type="text/javascript" src="__STATIC__/plugins/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__STATIC__/plugins/ueditor/ueditor.all.min.js"></script>

<script src="__STATIC__/plugins/layui/layui.js"></script>
<script>

    var ue = UE.getEditor('article_container',{
        autoHeightEnabled: true,
        initialFrameHeight:320,
        initialFrameWidth: '100%',
        toolbars: [
            [
                'fullscreen', //全屏
                'paragraph', //段落格式
                'fontfamily', //字体
                'fontsize', //字号
                'forecolor', //字体颜色
                'backcolor', //背景色
                'anchor', //锚点
                'bold', //加粗
                'italic', //斜体
                'underline', //下划线
                'strikethrough', //删除线
                'indent', //首行缩进
                'subscript', //下标
                'fontborder', //字符边框
                'superscript', //上标
                'formatmatch', //格式刷
                'blockquote', //引用
                'pasteplain', //纯文本粘贴模式
                'selectall', //全选
               'horizontal', //分隔线
                'removeformat', //清除格式
                'time', //时间
                'date', //日期
                'unlink', //取消链接
                'inserttable', //插入表格
                'deletetable', //删除表格
                'cleardoc', //清空文档
                'insertcode', //代码语言
                'simpleupload', //单图上传
                'insertimage', //多图上传
                'link', //超链接
                'emotion', //表情
                'spechars', //特殊字符
                'searchreplace', //查询替换
                'map', //Baidu地图
                'insertvideo', //视频
                'justifyleft', //居左对齐
                'justifyright', //居右对齐
                'justifycenter', //居中对齐
                'justifyjustify', //两端对齐
                'insertorderedlist', //有序列表
                'insertunorderedlist', //无序列表
                'directionalityltr', //从左向右输入
                'directionalityrtl', //从右向左输入
                'rowspacingtop', //段前距
                'rowspacingbottom', //段后距
                'pagebreak', //分页
                'imagenone', //默认
                'imageleft', //左浮动
                'imageright', //右浮动
                'attachment', //附件
                'imagecenter', //居中
                'lineheight', //行间距
                'autotypeset', //自动排版
                'touppercase', //字母大写
                'tolowercase', //字母小写
                'background', //背景
                'template', //模板
                'music', //音乐
                'source', //源代码
                'print', //打印
                'preview', //预览
            ]
        ]
    });
    ue.ready(function() {
        //设置编辑器的内容
        //ue.setContent('hello');
        //获取html内容，返回: <p>hello</p>
        var html = ue.getContent();
        //获取纯文本内容，返回: hello
        var txt = ue.getContentTxt();
    });
    //一般直接写在一个js文件中
    layui.use(['layer', 'form','element','util'], function(){
        var layer = layui.layer
            ,$=layui.jquery
            ,form = layui.form
            ,element = layui.element
            ,util = layui.util;

        //执行
        util.fixbar({
            top: true
            ,showHeight:100
            ,click: function(type){ }
        });

        form.on('submit(publish_bt)',function(data){
            var jsondata = data.field;
            var options = document.getElementById("cate_id").options;
            jsondata.cate_name = options[jsondata.cate_name].text;
            $.post("{:url('Article/submitArticle')}",jsondata,function(res){
                if(res.status) {
                    layer.msg(res.info,{time:2500});
                    setTimeout(function(){window.location.reload();},2400);
                }else{
                    layer.msg(res.info,{time:2500});
                }
            });
            return false;
        });
    });

</script>
</body>
</html>