<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$article.title} - __WEB_NAME__ - 个人博客 - __WEB_URL_HOSTNAME__</title>
    <link rel="shortcut icon" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/css/layui.css"  type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main.css" type="text/css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main_mobile.css" type="text/css">
    <link  rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/tinymce/skins/ui/oxide/content.min.css" type="text/css">
</head>
<body class="web-body-content">
<!-- Header -->
{include file="tpl/header" /}

    <div class="layui-container" style="margin-bottom:10px;margin-top:8px;">
        <i class="fa fa-home"></i> <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('index/index')}">首页</a> <i class="fa fa-angle-right"></i> <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('article/cate',array('id'=>$article['cate_id']))}">{$article.cate_name}</a> <i class="fa fa-angle-right"></i> {$article.title}
    </div>

    <div class="layui-container article_detial" style="background-color: #fffFFF">
        <header>
            <h1>{$article.title}</h1>
        </header>
        <div class="article_detial_info">
            <div style="margin-left: 20px;">
                <i class="fa fa-calendar" aria-hidden="true"  style="font-size: 14px; color: gray;"></i> {$article.create_time|date='Y-m-d',###}
            </div>
            <div style="margin-left: 20px;font-size: 12px;">
                {if condition=' strlen($article.origin_url)<4'} <i class="fa fa-paper-plane-o" aria-hidden="true"  style="font-size: 14px; color: gray;"></i> 原创
                {else/} <i class="fa fa-paper-plane-o" aria-hidden="true"  style="font-size: 14px; color: gray;"></i> 转载
                {/if}
            </div>
            <div style="margin-left: 20px;">
                <i class="fa fa-fire" aria-hidden="true"  style="font-size: 14px; color: gray;"></i> {$article.pv}
            </div>
            <div style="margin-left: 20px;">
                <i class="fa fa-comments-o" aria-hidden="true"  style="font-size: 14px; color: gray;"></i> 0
            </div>

        </div>{if condition=' $article.abstract_is!=0'}
        <div style="margin-top: 20px; padding-left: 16px; padding-right: 16px;">
            <span style="color: red;">摘要:</span>{$article.abstract}<hr>
        </div>{/if}

        <div class="article_content" id="article_content_id">{$article.content}
        <hr>
        <div class="article_source">{if condition=' strlen($article.origin_url)<4'}
        <span class="article_end_url">来源: <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('article/detial',array('id'=>$article['id']))}" title="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('article/detial',array('id'=>$article['id']))}">__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('article/detial',array('id'=>$article['id']))}</a></span> <span style="float:right;">最后更新于: {$article.update_time|date='Y-m-d H:i',###}</span>
        {else/}
            <span class="article_end_url">来源:<a href="{$article.origin_url}" title="{$article.origin_url}">{$article.origin_url}</a></span> <span style="float:right;">最后更新于: {$article.update_time|date='Y-m-d H:i',###}</span>
        {/if}
        </div>
        </div>

    </div>{if condition=' $Request.session.uname!=null'}
    <div class="layui-container admin-article-power" style="background-color: ghostwhite;margin-top: 10px;">
        <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('uarticle/updateArticle',array('id'=>$article['id']))}" class="layui-btn layui-btn-xs">修改</a> <button class="layui-btn layui-btn-xs">略缩图</button> <button lay-submit lay-filter="deleteArticle" class="layui-btn layui-btn-xs">删除</button>
    </div>{/if}
    <div class="layui-container" style="margin-top: 10px; margin-bottom: 20px;">
        <form class="layui-form" action="">
        <div style="float: left;margin-right: 10px;margin-top: 12px;">{if condition=' $Request.session.uhead_img!=null'}
            <img src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/{$Request.session.uhead_img}" alt="web_logo_img" style="height: 44px;margin: auto; background-color: white;">{else/}<img src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/web_logo.png" alt="web_logo_img" style="height: 44px;margin: auto; background-color: white;">{/if}
        </div>
        <textarea name="content" required lay-verify="required" placeholder="想说点儿什么吗" class="layui-textarea" style="min-height: 74px;max-height: 110px; width: calc(100% - 54px);"></textarea>
        <input type="hidden" name="id" value="{$article['id']}">
        <div style="margin-top: 6px; margin-left: calc(100% - 58px);">
            <button class="layui-btn layui-btn-xs" lay-submit lay-filter="reply">发表评论</button>
        </div>
        </form>{if condition=' $replies!=null '}
        <div style="width: 100%">
            {volist name="replies" id="reply"}
            <div><img src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/{$reply.uhead_img}" alt="web_logo_img" style="height: 28px;margin: auto; background-color: white; margin-right: 10px;"><b>{$reply.uname}</b><span style="margin-left: 20px; color: gray; font-size: 12px;">{$reply.create_time|date='Y-m-d h:m',###}</span></div>
            <div style="margin-left: 44px; margin-top: 6px;">{$reply.content}</div>
            <hr>
            {/volist}
        </div>{/if}

    </div>
    <!-- Footer -->
    {include file="tpl/footer" /}
<!-- 你的HTML代码 END -->


<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/tinymce/skins/content/default/prism.js"></script>
<script src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/layui.js"></script>
<script>
    /* 一般直接写在一个js文件中 */
    layui.use(['layer', 'form','util','element'], function(){
        var layer = layui.layer
            ,$=layui.jquery
            ,form = layui.form
            ,element = layui.element
            ,util = layui.util;

        /* 执行 */
        util.fixbar({
            top: true
            ,showHeight:100
            ,click: function(type){ }
        });
        {if condition=' $Request.session.uname!=null'}
        form.on('submit(deleteArticle)',function(data){
            layer.confirm('确定删除 {$article.title} ？', {
                btn: ['删除','取消']
            }, function(){
                var jsondata = new Object({"id":"{$article.id}"});
                $.post("{:url('Uarticle/delete')}",jsondata,function(res){
                    if(res.status) {
                        layer.msg('删除成功', {icon: 1});
                        setTimeout(function(){window.location.href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('index/index')}";},2500);

                    }else{
                        layer.msg('删除失败', {icon: 2});
                    }
                });

            }, function(){ });
        });
        {/if}
        form.on('submit(reply)',function(data){
            $.post("{:url('Reply/Add')}",data.field,function(res){
                if(res.code==1) {
                    layer.msg(res.msg,{time:2500});
                    setTimeout(function(){window.location.reload();},2500);
                }else{
                    layer.msg(res.msg,{time:2500});
                }
            });
            return false;
        });
    });
    

</script>
</body>
{include file="tpl/baidu_autopush" /}
</html>