    <footer>
        <div class="layui-bg-cyan">
            <div class="layui-container" style="min-height: 100px;padding-top: 10px;">
                {volist name="cates" id="vo"}
                <div style="color: gray;">
                    <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('Index/article/cate',array('id'=>$vo['id']))}"><i class="fa fa-github"></i>{$vo.name}</a>
                </div>
                {/volist}
            </div>
        </div>
        <div style="text-align: center; font-size: 12px;">
            Copyright&nbsp;<i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;2019&nbsp;&nbsp;<a href="http://www.beian.miit.gov.cn/"  target="_blank">豫ICP备19038182号</a>
        </div>
    </footer>
