<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>思维导图 - __WEB_NAME__ - 个人博客 - __WEB_URL_HOSTNAME__</title>
    <link rel="shortcut icon" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/css/layui.css"  type="text/css">
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/css/tableFilter.css"  type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main.css" type="text/css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main_mobile.css" type="text/css">
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/tinymce/skins/content/default/prism.css"  type="text/css">

</head>
<body class="web-body-content">
<!-- Header -->
<div class="layui-container" style="margin-bottom:10px;margin-top:8px;">
    <div class="my-zone">
        <table class="layui-hide" id="article_list_filter" lay-filter="article_list_filter"></table>
    </div>
</div>

<!-- Footer -->
<!-- 你的HTML代码 END -->

<script type="text/html" id="article_operaTools">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="article_pre">预览</a>
    <a class="layui-btn layui-btn-xs" lay-event="article_edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="article_del">删除</a>
</script>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/tinymce/skins/content/default/prism.js"></script>
<script src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/layui.js"></script>

<script>
    {/* 一般直接写在一个js文件中 */}
    layui.use(['layer', 'form','util','element','table','tableFilter'], function(){
        var layer = layui.layer
            ,$=layui.jquery
            ,form = layui.form
            ,element = layui.element
            ,util = layui.util
            ,table = layui.table
            ,tableFilter = layui.tableFilter;

        util.fixbar({
            top: true
            ,showHeight:100
            ,click: function(type){ }
        });
        {/* 文章管理 */}
        {include file="tpl/mindlists_tabjs" /}
        {/* 文章管理 -- END -- */}

        function Appendzero(obj) {
            if (obj < 10) return "0" + "" + obj;
            else return obj;
        }
        function toCreateTimeString(data) {
            var now = new Date(data.create_time*1000);
            var year =now.getFullYear();
            var month =Appendzero(now.getMonth()+1);
            var date=Appendzero(now.getDate());
            var hours=Appendzero(now.getHours());
            var minutes=Appendzero(now.getMinutes());
            return year+'-'+month+'-'+date+' '+hours+':'+minutes;
        }
        function toUpdateTimeString(data) {
            var now = new Date(data.update_time*1000);
            var year =now.getFullYear();
            var month =Appendzero(now.getMonth()+1);
            var date=Appendzero(now.getDate());
            var hours=Appendzero(now.getHours());
            var minutes=Appendzero(now.getMinutes());
            return year+'-'+month+'-'+date+' '+hours+':'+minutes;
        }
    });


</script>
</body>
</html>