    <header>
        <div class="layui-bg-cyan" style="z-index:999;">
            <div class="layui-container">

                <ul  class="layui-nav layui-bg-cyan" >
                    <li class="layui-nav-item web_nav_logo">
                        <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('index/index')}" >叶念西风</a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs layui-hide-sm layui-show-md-inline-block">
                        <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('index/index')}">首页</a>
                    </li>
                    {volist name="cates" id="vo"}{if condition='$vo.priority<60'}
                    <li class="layui-nav-item layui-hide-xs layui-hide-sm layui-show-md-inline-block" >
                        <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('article/cate',array('id'=>$vo['id']))}">{$vo.name}</a>
                    </li>{/if}
                    {/volist}
                    <li class="layui-nav-item layui-layout-right  layui-hide-xs layui-hide-sm layui-show-md-inline-block" style="z-index: 990;">
                        {if condition=' $Request.session.uname!=null'}
                        <a href="javascript:;">{$Request.session.uname}</a>
                        <dl class="layui-nav-child">
                            <dd><a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('User/myZone')}">个人中心</a></dd>
                            <dd><a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('Article/editArticle')}">文章发布</a></dd>
                            <dd><a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('User/myZone')}?tab=3">文章管理</a></dd>
                            <dd><a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('User/myZone')}?tab=2">草稿箱</a></dd>
                            <dd><a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('Login/logout')}">退了</a></dd>
                        </dl>
                        {else/}
                        <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('Login/index')}">登陆</a>
                        {/if}
                    </li>
                    <li class="layui-nav-item layui-layout-right layui-hide-md mobile_nav_bt">
                        <a href="javascript:;" ><i class="layui-icon layui-icon-more" ></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>