<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$notification.title} - __WEB_NAME__ - 个人博客 - __WEB_URL_HOSTNAME__</title>
    <link rel="shortcut icon" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/css/layui.css"  type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main.css" type="text/css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main_mobile.css" type="text/css">
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/tinymce/skins/content/default/prism.css"  type="text/css">

</head>
<body class="web-body-content">
<!-- Header -->
{include file="tpl/header" /}

<div class="layui-container" style="margin-bottom:10px;margin-top:8px;">

    <i class="fa fa-home"></i> <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('index/index')}">首页</a> <i class="fa fa-angle-right"></i> <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('notification/lists')}">通知公告</a> <i class="fa fa-angle-right"></i> {$notification.title}
</div>

<div class="layui-container article_detial" style="background-color: #fffFFF">
    <header>
        <h1>{$notification.title}</h1>
    </header>
    <div class="article_detial_info">
        <div style="margin-left: 20px;">
            <i class="fa fa-calendar" aria-hidden="true"  style="font-size: 14px; color: gray;"></i> {$notification.create_time|date='Y-m-d',###}
        </div>
        <div style="margin-left: 20px;font-size: 12px;">
            <i class="fa fa-paper-plane-o" aria-hidden="true"  style="font-size: 14px; color: gray;"></i> __WEB_NAME__
        </div>
    </div>

    <div class="article_content"  style="padding: 20px 80px;min-height: 400px;">{$notification.content}
    </div>

</div>
<!-- Footer -->
{include file="tpl/footer" /}
{include file="tpl/baidu_autopush" /}
<!-- 你的HTML代码 END -->


<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/tinymce/skins/content/default/prism.js"></script>
<script src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/layui.js"></script>
<script>
    /* 一般直接写在一个js文件中 */
    layui.use(['layer', 'form','util','element'], function(){
        var layer = layui.layer
            ,$=layui.jquery
            ,form = layui.form
            ,element = layui.element
            ,util = layui.util;

        /* 执行 */
        util.fixbar({
            top: true
            ,showHeight:100
            ,click: function(type){ }
        });
    });


</script>
</body>
</html>