<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>通知公告 - __WEB_NAME__ - 个人博客 - __WEB_URL_HOSTNAME__</title>
    <link rel="shortcut icon" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/css/layui.css"  type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main.css" type="text/css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/css/main_mobile.css" type="text/css">
</head>

<style>
.notification_ul li{
    border-bottom:1px dashed gray;
    padding-top: 20px;
    padding-bottom: 10px;
    vertical-align:middle;
}
.notification_ul li .span01{
    padding-left: 14px;
    background: url(/__STATIC__/images/res_dynli01.jpg) no-repeat 1px 8px;
}
.notification_ul li .span01 a{
    font-size: 14px;
}
</style>
<body class="web-body-content">
<!-- Header -->
{include file="tpl/header" /}

<div class="layui-container" style="margin-bottom:10px;margin-top:8px;">
    <i class="fa fa-home"></i> <a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('index/index')}">首页</a> <i class="fa fa-angle-right"></i> 通知公告
</div>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div style="background-color: #fffFFF;box-shadow: 0 0 1px lightgrey;padding-bottom: 20px;">
                <div style="margin-left: 40px; padding-top: 10px; margin-right: 40px; padding-bottom: 10px;">
                    <ul class="notification_ul">{volist name="notifications" id="vo"}
                        <li><span class="span01"><a href="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__{:url('notification/detial')}?id={$vo.id}">{$vo.title}</a></span><span style="float: right;">2019/10/02</span></li>{/volist}
                    </ul>
                </div>
            </div>
        </div>
        <!-- 侧边栏 手机不显示 -->
        <div class="layui-col-md4 layui-hide-xs layui-hide-sm layui-show-md-inline-block index-sidebar">
            {include file="tpl/recommand_cate" /}
        </div>
        <!-- 侧边栏 手机不显示 END -->
    </div>
</div>
<!-- Footer -->
{include file="tpl/footer" /}

<!-- 你的HTML代码 END -->


<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__WEB_URL_PROTOCOL__//__WEB_URL_HOSTNAME__/__STATIC__/plugins/layui/layui.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form','element','util','carousel'], function(){
        var layer = layui.layer
            ,$=layui.jquery
            ,form = layui.form
            ,element = layui.element
            ,carousel = layui.carousel
            ,util = layui.util;

        //执行
        util.fixbar({
            top: true
            ,showHeight:100
            ,click: function(type){ }
        });

    });
</script>
</body>
{include file="tpl/baidu_autopush" /}
</html>